@model PhotoGallery.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="container section-title">
    <h2>Our work</h2>
    <p class="lead">Delete</p>
</div>



<div class="box">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dimensions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dimensions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-0">
            @*@Html.DisplayNameFor(model => model.Photo)*@
        </dt>
        <dd class="col-sm-3">
            <img src="~/images/shop/@Html.DisplayFor(model => model.Photo)" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="control-btn">DELETE</button>
    </form>
    <a asp-action="Index">Back to List</a>


</div>

