@model PhotoGallery.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container section-title">
    <h2>Our work</h2>
</div>


<div class="container indiv-photo">
    <div class="title1">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
    </div>
    <div class="author1">
        <h4>@Html.DisplayFor(model => model.Author)</h4>
    </div>
    <div class="description1">
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>
    <div class="genre1">
        <p>@Html.DisplayFor(model => model.Genre)</p>
    </div>
    <div class="size-l">
        <p>DIMENSIONS:</p>
    </div>
    <div class="size-d">
        <p>@Html.DisplayFor(model => model.Dimensions)</p>
    </div>
    <div class="price1">
        <p>€@Html.DisplayFor(model => model.Price)</p>
    </div>
    <div class="photo">
        <img src="~/images/shop/@Html.DisplayFor(model => model.Photo)" alt="">
    </div>
</div>


<div class="box">

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id"><button class="control-btn">EDIT</button></a>

    </div>
    <a asp-action="Index">Back to Products List</a>

</div>


